img{
    width: 100%;
}
.header_content{
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    background: #fff;
    display: flex;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header_logo{
    width: 50px;
    padding: 15px 5px 5px 30px;
    
}
.header_logo:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.header_name{
    line-height: 80px;
    font-size: 23px;
    color: grey;
}
.header_btn
{
    position: absolute;
    right: 50px;
    top: 22px;
}