.page_container {
    height: 35vw;
    width: 84vw;
    text-align: center;
    position: relative;
    margin: 2vw auto;
}

.scrollWidth {
    width: 84vw;
    transition: "all 0.4s"
}

.scrollWidth .item {
    width: 17vw;
    height: 20vw;
    box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
    border-radius: 1vw;
    padding-top: 3vw;
    margin: 2vw;
    position: relative;
}

.scrollWidth .item:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
    transform: scale(1.1);
    transition: all .3s;
}

.scrollbox_container{
    overflow: hidden;
}

.scrollbox_container_inner{
    transition: all 0.4s;
}

.scrollbox_container_card{
    float: left;
}

.scrollbox_container_card_row{
    flex-wrap: nowrap;
    height: 40vw;
}

.scrollbox_container_card_col:nth-child(odd) .item{
    top: 7vw;
    background-color: #356281;
    background: linear-gradient(90.21deg, #97bfdb -5.91%, #5964b6 111.58%);
    color: #fff;
}

.scrollbox_container_card_col:nth-child(even) .item{
    background-color: #62a2cc;
    color: #fff;
}

.noticecard_title{
    font-size: 1.5vw;
    float: left;
    position: absolute;
    top: 1vw;
    left: 1vw;
}

.noticecard_description{
    font-size: 1vw;
    position: absolute;
    top: 4vw;
    left: 1vw;
    line-height: 1.5;
}

.noticecard_data{
    font-size: 1.1vw;
    position: absolute;
    top: 19vw;
    left: 10vw;
}


.notice_scroll {
    width: 100%;
    position: relative;
}

.ant-btn-circle{
    width: 4vw;
    height: 4vw;
}

.leftScrollBtn{
    position: absolute;
    left: -1vw;
    bottom: 45%;
    z-index: 2;
}

.rightScrollBtn {
    position: absolute;
    right: -1vw;
    bottom: 45%;
    z-index: 2;
}