.project {
    position: relative;
    margin-bottom: 10vw;
}

.project h2 {
    font-size: 3vw;
    font-weight: 700;
    font-family: "楷体",sans-serif;
    text-align: center;
}

.project p {
    color: #B8B8B8;
    font-family: '宋体',sans-serif;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
}


.project_content .ant-row{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.projectcard_container{
    margin: .5vw 1vw;
    width: 26vw;
}

.project_imgbox {
    position: relative;
    border-radius: 3vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

.project_imgbox img{
   width: 100%;
   height: 100%;
}

.project_imgbox::before {
    content: "";
    background: linear-gradient(90.21deg, #99bed8 -5.91%, #6f7bd7 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.project_imgbox:hover::before {
    height: 100%;
}

.project_text {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
    color: aliceblue;
}

.project_imgbox:hover .project_text {
    top: 50%;
    opacity: 1;
}

.project_text h4 {
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: .1vw;
    line-height: 3vw;
}

.project_text span {
    font-style: italic;
    font-weight: 400;
    font-size: 1vw;
    letter-spacing: .2px;
}


